h1 {
    margin: 0;
    padding: 20px 50px;
    color: white;
    background: maroon;
}
body {
    color: black;
    font-family: Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: maroon;
    color: white;


}

.dice_results {
   line-break: anywhere;
}
.dice_results tbody, .dice_results thead tr {
    display: block;
}
.dice_results thead {
    diplay: block;
}
.dice_results tbody {
     overflow-y: auto;
     overflow-x: hidden;
    height: 400px;
 }

.dice_results td, .dice_results th {
    width: 150px;
    max-width: 150px;
}

#dice_results_sr4 td, #dice_results_sr4 th {
    width: 100px;
    max-width: 100px;
}



.container {
    display: grid;
    grid-template-columns: repeat(18,auto);
    grid-template-rows: repeat(12, auto);
    width: 100vw;
    height: 100vh;
}

header {
    grid-column: 1 / 19;
    grid-row: 1 / 2;
    background-color: maroon;
}

main {
    padding: 2.5%;
    grid-column: 2 / 19;
    grid-row: 2 / 12;
}

main-left {
    padding: 2.5%;
    grid-column: 2 / 16;
    grid-row: 2 / 12;
}

main-upper-left {
    padding: 2.5%;
    grid-column: 2 / 16;
    grid-row:   2 / 10;
}

main-lower-left {
    padding: 2.5%;
    grid-column: 2 / 16;
    grid-row: 10 / 12;
}

main-lower-left-1 {
    padding: 2.5%;
    grid-column: 2 / 8;
    grid-row: 10 / 12;
}
main-lower-left-2 {
    padding: 2.5%;
    grid-column: 8 / 16;
    grid-row: 10 / 12;
}

main-right {
    padding: 2.5%;
    grid-column: 16 / 19;
    grid-row: 2 / 12;
}



left {
    padding: 5%;
    grid-column: 1 / 2;
    grid-row: 2 / 14 ;
    background-color: maroon;
    color: white;
}

footer {
    grid-column: 2 / 19;
    grid-row: 13 / 13;
    background-color: maroon;
    color: white;
}

left a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 0.625%;
    text-align: center;
    line-height: 3;
    color: white;
}
