body {
    color: black;
    font-family: Verdana, sans-serif;
}

table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    text-align: center;
}

th {
    background-color: maroon;
    color: white;


}.column {
     float: left;
    padding: 5px;
 }

/* Left and right column */
.left {
    width: 25%;
}

/* Middle column */
.middle {
    width: 50%;

}
/* Right column */
.right {
    width: 25%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}