@()
<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Passwort ändern</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/jquery-3.6.0.js")" type="module"></script>
        <script src="@routes.Assets.at("javascripts/adm_password.js")" type="module"></script>
    </head>
    <body>
        <div class="container">
            @el_header( "Initiativ-Tracker" )
            @el_menu( 1 )
            <main-left>
                <h2>Passwort ändern</h2>

                <form id="f_change_pw">
                    <label for="i_f_change_pw_alt">Aktuelles Passwort:</label><input id="i_f_change_pw_alt" type="password">
                    <label for="i_f_change_pw_neu_1">Neues Passwort</label><input id="i_f_change_pw_neu_1" type="password" minlength="6">
                    <label for="i_f_change_pw_neu_2">Neues Passwort wiederholen</label><input id="i_f_change_pw_neu_2" type="password" minlength="6">
                    <button type="submit">Passwort ändern</button>
                </form>
            </main-left>
       </div>
    </body>
</html>
