@(implicit request: Http.Request, messages: Messages)
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Charakter</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-3.6.0.js")" charset="UTF-8"></script>
        <script type="module" src="@routes.Assets.at("javascripts/chars.js")"></script>
    </head>
    <body>
        <h1>Charakter</h1>

        <div class="row">
        <div class="column">
            @menu()
        </div>
        <div class="column">
        <form id="char_update_f">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Ini</th>
                        <th>Reaction</th>
                        <th>Intuition</th>
                        <th>Stun Boxes</th>
                        <th>Physical Boxes</th>
                        <th>PC</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="char_update_tbody">
                    <tr id="tr_form">
                        <td><input id="name" name="name" type="text"></td>
                        <td><input id="ini" name="ini" type="number"></td>
                        <td><input id="reaction" name="reaction" type="number"></td>
                        <td><input id="intuition" name="intuition" type="number"></td>
                        <td><input id="sBoxes" name="sBoxes" type="number"></td>
                        <td><input id="pBoxes" name="pBoxes" type="number"></td>
                        <td><input id="pc" name="pc" type="checkbox"></td>
                    </tr>
                </tbody>

            </table>
            <button type="submit">Charakter hinzufügen</button>
        </form>
        </div>
        </div>
</body>
</html>