@(combatId: Integer)(implicit request: Http.Request, messages: Messages)
<!DOCTYPE html>
<html lang="de">
    <head>
        <title>Initiative</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <input type="hidden" id="combat_id" value="@combatId">
        <input type="hidden" id="char_update_nbr_rows" value="0">
        <script type="module" src="@routes.Assets.at("javascripts/combat.js")"></script>
    </head>

   <body>
       <h1>Initiative</h1>
       <div class="row">
        <div class="column" id="column_l">

        </div>
        <div class="column" id="column_m">
                <form id="char_update_f">
                    <table>
                        <thead>
                            <tr>
                                <th>Reihenfolge</th>
                                <th>Iniativwurf</th>
                                <th>Name</th>
                                <th>Stun Damage</th>
                                <th>Physical Damage</th>
                                <th>Stun Damage</th>
                                <th>Physical Damage</th>
                                <th>Ini Overwrite</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="char_update_tbody"></tbody>
                    </table>
                </form>
            <div class="row">
                <div class="column">
                @menu()
                </div>
            <div class="column">
            <h2>Charakter hinzufügen:</h2>
            <form id="char_selection_f" action="@routes.FormController.addCharsToCombat">
                <input type="button" id="char_selection_b" value="Hinzufügen">
            </form>
            </div>
            <div class="column">
                <h2>Charakter entfernen:</h2>
                <form id="remove_char_f" action="@routes.FormController.addCharsToCombat">
                    <input type="button" id="remove_char_b" value="Entfernen">
                </form>
            </div>
            </div>
       </div>
           <div class="column" >
               <h2>Dice Roller</h2>
           <form id="dice_roller_f">
              <select id="dice_roller_s">

              </select>
               <label for="dice_roller_n">Anz. Würfel:</label><input type="number" id="dice_roller_n">
               <button>Würfeln</button>
           </form>
               <h2>Würfelergebnisse</h2>
           <table>
               <thead>
                   <tr><th>Timestamp</th><th>Char.</th><th>Wurf</th></tr>
               </thead>
               <tbody id="rolls_table_tbody">

               </tbody>
           </table>
           </div>
       </div>
   </body>
</html>