@()
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Kampf auswählen</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <script src="@routes.Assets.at("javascripts/index.js")" type="module"></script>
    </head>
    <body>
        <div class="row">
            <div class="column">
               @menu()
            </div>
            <div class="column">
                <h2>Kampf auswählen</h2>

                <ol id = "combat_list">

                </ol>

                <h2>Kampf hinzufügen</h2>
                <form onsubmit="new_combat()">
                    <label for="bez"><input type="text" id="bez" name="bez"></label>
                    <button type="submit">Hinzufügen</button>
                </form>
            </div>
        </div>
    </body>
</html>